body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
  }
  
  .sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    margin-top: 10px;
    top: 0;
    left: 0;
    background-color: #2507eb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0 50px 50px 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  ul li {
      list-style: none;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d9c704;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  h2, p {
      text-align: center;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  span {
      color: #1e06fa;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }